QMainWindow{
    background-color: #dee9ff;
}

QLabel, QComboBox{
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

QLineEdit {
    border: 2px solid #88C0D0;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

#list_todo, #label_todo{
    background-color: #f7ffb0;
    border: 2px solid  #dae674;
    border-radius: 5px;
}

#list_doing, #label_doing{
    background-color: #c3f4ff;
    border: 2px solid #75cbdf;
    border-radius: 5px;
}

#list_done, #label_done{
    background-color: #9cffd2;
    border: 2px solid #66cb9e;
    border-radius: 5px;
}